#bordering{
    margin-left: 7vw;/*was 24%*/
    margin-top: 0vw;
    font: 100 1.3vw 'Pacifico', Helvetica, sans-serif;/*was 1300% size*/
    margin-bottom: 1vw;
    margin-right: 1vw;/*was 24%*/
}
#stan{
    height: 100%;/*was  1.6vw */
    width: 30%;/*was 1.5vw */
    padding-bottom: 6%;/*was 0.2vw */
}
#hard{
    width: 7vw;/*was 250% size*/
    height: 2.9vw;/*was 250% size*/
    font: 100 1.1vw 'Pacifico', Helvetica, sans-serif;/*was 1300% size*/
    padding-bottom: 0.5vw;
    padding-left: 1vw;
}
#easy{
    width: 7vw;/*was 7vw size*/
    height: 2.9vw;/*was 2.9vw size*/
    font: 100 1.1vw 'Pacifico', Helvetica, sans-serif;/*was 1.1vw size*/
    padding-bottom: 0.5vw;/*was 0.5vw*/
    padding-left: 1vw;/*was */
}
#medium{
    width: 7vw;/*was 250% size*/
    height: 2.9vw;/*was 250% size*/
    font: 100 1.1vw 'Pacifico', Helvetica, sans-serif;/*was 1300% size*/
    padding-bottom: 0.5vw;
    padding-left: 1vw;
}
.card-title.text-center{
    font: 200 2.5vw 'Pacifico', Helvetica, sans-serif;/*was 250% size*/
    width: 35vw;
    height: 2.5vw;
    margin-bottom: 1vw;
}
.card-text.text-center{
    font: 100 1.3vw 'Pacifico', Helvetica, sans-serif;/*was 130% size*/
    width: 35vw;
    height: 2.6vw;
    margin-bottom: 1vw;
    margin-top: 0vw;
}
body{
    background-image: url(sudoku_background.png);
    background-repeat: no-repeat;
    background-size: cover;
  
  }
.card-body{

    background-color: rgba(181, 250, 210,0.1);
    width: 38vw;
    height: 22vw;
    padding-bottom: 5vw;
    padding-top: 4vw;
    border-radius: 12x;
}
.card.my-5{

    background-color: rgba(181, 250, 210,0.1);
    width: 38vw;
    height: 22vw;
    border-radius: 12px;
    border:none;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.container{
    margin-top: 10vw;/*was 5%*/
    width: 38vw;
    height: 20vw;
}